<%- include("partials/header") %>

<h1>Conner Cullity | Software Developer Portfolio</h1>

<p>
  Hello, my name is Conner Cullity.<br/>
  <br/>
  I’m a computer programming student with a strong passion for building reliable and efficient software.<br/>
  Thank you for taking the time to visit my portfolio—I appreciate your interest in my work and hope you enjoy exploring my projects.
</p>

<h2>Featured Projects</h2>

<div class="projects">
  <% projects.forEach(project => { %>
    <div class="card">
      <img src="<%= project.image %>" alt="">
      <h3><%= project.title %></h3>
      <p><%= project.description %></p>
      <a class="btn" href="projects/<%= project.slug %>">View Project</a>

      <% if (project.link && project.link !== "null") { %>
      <a class="btn btn-secondary" href="<%= project.link %>" target="_blank">
          View GitHub Repository
      </a>
      <% } %>
    </div>
  <% }) %>
</div>
<iframe 
  src="https://christians198.sg-host.com/full-quiz-iframe/#quiz" 
  width="60%" 
  height="800"
  style="border:none; border-radius: 20px;">
</iframe>

<%- include("partials/footer") %>