<%- include("partials/header") %>

<h1><%= project.title %></h1>

<img src="<%= project.image %>" alt="" style="width:300px;">

<p><%= project.description %></p>

<a href="<%= project.link %>" target="_blank">View on GitHub</a>

<p><%- project.content %></p>

<br><br>
<a href="/projects">← Back to Projects</a>

<%- include("partials/footer") %>